*{
    font-family: sans-serif;
}
.header{
    margin-top: 91px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(20, 66, 114)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}
.navbar-toggler-icon:hover{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(20, 66, 114)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}
/* Untuk menghilangkan border pada navbar toggler */
.navbar-toggler {
    border: none;
}

/* Untuk menghilangkan box shadow (seperti border) ketika navbar toggler diklik */
.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link{
    color: #144272;
    transition: 0.3s;
}
.nav-link:hover{
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
    color: #005ec2;
}
.enter-blog{
    border: 1px solid #144272;
    background-color: white;
    color: #144272;
}
.enter-blog:hover{
    background-color: #144272;
    border-color: #144272;
    transition: ease-in-out 0.2s;
}
.don{
    color: #144272;
}

h1{
    color: #144272;
}
.navbar-brand:hover{
    color: #144272;
    transform: scale(1.1);
    transition: 0.3s;
    
}
.navbar-brand{
    display: flex;
    font-weight: bold;
    color: #144272;
    font-size: 22px;
    transition: 0.3s;
}
.navbar-brand p{
    margin: auto 0;
    font-size: 120%;
    padding-left: 10px;
}
.navbar-brand img{
    width: 20%;
}
*::selection{
    background-color: hsla(0, 0%, 0%, 0.8);
    color: white;
}
